.button, .square-button, .cycle-button {
  display: inline-block;
  position: relative;
  padding: 0 1rem;
  line-height: 2.125rem;
  font-size: 0.75rem;
  vertical-align: middle;
  background-color: #fff;
  color: #262626;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  /*
  * sizes: mini/small/large
  */ }
  .button:hover, .square-button:hover, .cycle-button:hover {
    border-color: #787878; }
  .button:active, .square-button:active, .cycle-button:active {
    background: #eeeeee;
    color: #262626;
    box-shadow: none; }
  .button:focus, .square-button:focus, .cycle-button:focus {
    outline: 0; }
  .button:disabled, .square-button:disabled, .cycle-button:disabled {
    background-color: #eaeaea;
    color: #bebebe;
    cursor: not-allowed;
    border-color: transparent; }
  .button.mini, .square-button.mini, .cycle-button.mini {
    font-size: .6rem;
    padding: .2rem .625rem;
    height: 1.4rem;
    line-height: 1.4rem; }
  .button.small, .square-button.small, .cycle-button.small {
    font-size: .7rem;
    padding: 0 .625rem;
    height: 1.7rem;
    line-height: 1.7rem; }
  .button.large, .square-button.large, .cycle-button.large {
    padding: 0 2rem;
    height: 2.55rem;
    font-size: 1.05rem;
    line-height: 2.55rem; }
  .button.primary, .square-button.primary, .cycle-button.primary {
    color: #fff;
    background: #2086bf;
    border-color: #2086bf; }
    .button.primary:active, .square-button.primary:active, .cycle-button.primary:active {
      background: #1b6eae; }
  .button.success, .square-button.success, .cycle-button.success {
    color: #fff;
    background: #60a917;
    border-color: #60a917; }
    .button.success:active, .square-button.success:active, .cycle-button.success:active {
      background: #128023; }
  .button.info, .square-button.info, .cycle-button.info {
    color: #fff;
    background: #59cde2;
    border-color: #59cde2; }
    .button.info:active, .square-button.info:active, .cycle-button.info:active {
      background: #1ba1e2; }
  .button.danger, .square-button.danger, .cycle-button.danger {
    color: #fff;
    background: #ce352c;
    border-color: #ce352c; }
    .button.danger:active, .square-button.danger:active, .cycle-button.danger:active {
      background: #9a1616; }
  .button.warning, .square-button.warning, .cycle-button.warning {
    color: #fff;
    background: #fa6800;
    border-color: #fa6800; }
    .button.warning:active, .square-button.warning:active, .cycle-button.warning:active {
      background: #bf5a15; }
  .button.link, .square-button.link, .cycle-button.link {
    color: #2086bf;
    background: transparent;
    border-color: transparent; }
    .button.link:active, .square-button.link:active, .cycle-button.link:active {
      color: #114968; }

/**
*  Shape:  square/cycle
*/
.square-button, .cycle-button {
  padding: 0;
  width: 2.125rem;
  height: 2.125rem;
  text-align: center;
  overflow: hidden; }
  .square-button.mini, .cycle-button.mini {
    width: 1.4rem;
    height: 1.4rem;
    font-size: .6rem;
    padding: 0;
    min-width: 0; }
  .square-button.small, .cycle-button.small {
    width: 1.7rem;
    height: 1.7rem;
    font-size: .7rem;
    padding: 0;
    min-width: 0; }
  .square-button.large, .cycle-button.large {
    padding: 0;
    font-size: 1.05rem;
    line-height: 1;
    width: 2.55rem;
    height: 2.55rem; }

.cycle-button {
  border-radius: 100%; }
