.flex-grid .row .cell.size2 {
  -webkit-flex: 0 0 16.66%;
  flex: 0 0 16.66%; }

.flex-grid .row .cell.size3 {
  -webkit-flex: 0 0 24.99%;
  flex: 0 0 24.99%; }

.flex-grid .row .cell.size4 {
  -webkit-flex: 0 0 33.32%;
  flex: 0 0 33.32%; }

.flex-grid .row .cell.size5 {
  -webkit-flex: 0 0 41.65%;
  flex: 0 0 41.65%; }

.flex-grid .row .cell.size6 {
  -webkit-flex: 0 0 49.98%;
  flex: 0 0 49.98%; }

.flex-grid .row .cell.size7 {
  -webkit-flex: 0 0 58.31%;
  flex: 0 0 58.31%; }

.flex-grid .row .cell.size8 {
  -webkit-flex: 0 0 66.64%;
  flex: 0 0 66.64%; }

.flex-grid .row .cell.size9 {
  -webkit-flex: 0 0 74.97%;
  flex: 0 0 74.97%; }

.flex-grid .row .cell.size10 {
  -webkit-flex: 0 0 83.3%;
  flex: 0 0 83.3%; }

.flex-grid .row .cell.size11 {
  -webkit-flex: 0 0 91.63%;
  flex: 0 0 91.63%; }

.flex-grid .row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .flex-grid .row .cell {
    -webkit-flex: 0 0 50%;
    flex: 0 0 8.33333333%; }
